# == Proje Genel ==
.env
.env.*

# == Python / Django ==
__pycache__/
*.pyc
*.sqlite3
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django Özeli
static_cdn/
media_cdn/

# == Node.js (Frontend klasörleri için geçerli olabilir: web, mobile) ==
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
build/
dist/
.eslintcache

# == IDE / Editor Özel Dosyalar ==
.vscode/
.idea/
*.swp
*.swo
*~

# == İşletim Sistemi Özel ==
.DS_Store
Thumbs.db